/*1st section */
body {
  -webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}
h1, h2 {
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.hero {
  background-color: rgb(35,35,46);
  padding: 80px;
  color: white;
}
.intro {
  text-align: center;
  font-weight: bold;
  height: 840px
}
.logo {

}
.title {
  margin-bottom: 70px;
}
.subtitle {
  font-size: 15px;
}
.subtitle br {
  line-height: 25px;
}
.nav {
	margin-top: 180px;
}
.nav .fa {
  border: 1px solid white;
  border-radius: 50%;
  height: 1.28571429em;
  line-height: 1.28571429em;
  padding: 15px;
}

/* Second section */
.info {
	text-align: center;
	padding: 120px 0;
	font-size: 30px;
	line-height: 1.4;
	max-width: 600px;
	margin: auto;
}
.info br {
	line-height: 50px;
}
.info p {
	color: rgb(35,35,46);
	margin: 0;
	font-size: 20px;
}
.info p + p {
	margin-top: 1em;
}
.wrapper {
	margin: auto;
}
.do {
	display: flex;
	margin: 0 -10px;
	padding: 0;
	text-align: left;
}
.do > li {
	box-sizing: border-box;
	width: 33.33%;
	list-style: none;
	margin: 0;
	padding: 0 10px;
}
/*h2 {
	text-align: center;
	color: rgb(35,35,46);
	font-size: 20px;
	padding-left: 150px;
	

}
ul li {
	list-style-type: none;
	display: inline-block;
	margin: auto;
}
ul {
	text-align: center;
} */
.content {
	text-align: center;
	max-width: 960px;
	min-width: 960px;
	margin: auto;
	padding-top: 80px;
}
/*.do .caption > li {
	width: 33.3333333%;
    float: left;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5rem;
    float: left;
    display: block;
    vertical-align: baseline;
}
ul {
	list-style-type: none;
	display: block;
}
li {
	display: list-item;
	text-align: center; 
	float: left;
}*/