/*1st section */
body {
  -webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
}
h1, h2 {
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}
.hero {
  background-color: rgb(35,35,46);
  padding: 80px;
  color: white;
}
.intro {
  text-align: center;
  font-weight: bold;
  height: 840px
}
.logo {

}
.title {
  margin-bottom: 70px;
}
.subtitle {
  font-size: 15px;
}
.subtitle br {
  line-height: 25px;
}
.nav {
	margin-top: 180px;
}
.nav .fa {
  border: 1px solid white;
  border-radius: 50%;
  height: 1.28571429em;
  line-height: 1.28571429em;
  padding: 15px;
}

/* Second section */
.info {
	text-align: center;
	padding: 120px 0;
	font-size: 30px;
	line-height: 1.4;
	max-width: 600px;
	margin: auto;
}
.info br {
	line-height: 50px;
}
.info p {
	color: rgb(35,35,46);
	margin: 0;
	font-size: 20px;
}
.info p + p {
	margin-top: 1em;
}
.wrapper {
	margin: auto;
	width: 70%;
}
.do {
	display: flex;
	margin: 0 -10px;
	padding: 0;
	text-align: left;
}
.do > li {
	box-sizing: border-box;
	width: 33.33%;
	list-style: none;
	margin: 0;
	padding: 0 10px;
}
/*h2 {
	text-align: center;
	color: rgb(35,35,46);
	font-size: 20px;
	padding-left: 150px;
	

}
ul li {
	list-style-type: none;
	display: inline-block;
	margin: auto;
}
ul {
	text-align: center;
} */
.content {
	text-align: center;
	max-width: 600px;
	margin: auto;
	padding-top: 80px;
}
ul.menu {
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	text-align: center; 
}
/*.menu li {
	list-style-type: none; 
	float: left; 
	margin: 0 auto; 
	max-width: 600px;
	text-align: center; 

}
.work {
	height: 1350px; 
	background-color: rgb(35,35,46);
}
.button {
	background-color: rgb(35,35,46);
	border-radius: 5px;
	color: #fff;
	border: none;
}
.work > li {
    margin: 0 auto;  
    list-style-type: none;
    text-decoration: none; 
    display: inline-block;
    padding-right: 5em;
    padding-bottom: 20px; 
    color: #fff; 
    text-align: center;
}
.menu ul {
	color: #fff;
}
.works li {
	list-style-type: none;
	text-align: center;  
	display: inline-block;
	color: #fff;

}
.works > ul {
	width: 33.3333%;
    float: left;
    text-align: center;
    overflow: hidden;
    padding-bottom: 5rem;
    text-align: center; 
}*/




