/*1st section */
body {
  -webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	font-family: helvetica;
}
.hero {
  background-color: rgb(35,35,46);
}
.intro{
  text-align: center;
  color: white;
  font-weight: bold;
  height: 840px
}
img {
  height: 132px;
  width: 132px;
  padding-top: 80px;
  padding-bottom: 190px;
}
.title {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 70px;
}
.subtitle {
  font-size: 15px;
}
.subtitle br {
  line-height: 25px;
}
.nav img {
  height: 10px;
  width: 15px;
}

/* Second section */
.info {
	height: 1040px;
	background-color: white;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
}
.info br {
	line-height: 50px;
}
p {
	color: rgb(35,35,46);
	min-width: 600px;
	max-width: 600px;
	margin: auto;
	font-size: 20px;
}
h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 60px;
	color: rgb(35,35,46);
	padding-top: 90px;
}
.wrapper {
	margin: auto;
}
/*h2 {
	text-align: center;
	color: rgb(35,35,46);
	font-size: 20px;
	padding-left: 150px;
	

}
ul li {
	list-style-type: none;
	display: inline-block;
	margin: auto;
}
ul {
	text-align: center;
} */
.content {
	text-align: center;
	max-width: 960px;
	min-width: 960px;
	margin: auto;
	padding-top: 80px;
}
.do .caption > li {
	width: 33.3333333%;
    float: left;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5rem;
    float: left;
    display: block;
    vertical-align: baseline;
}
ul {
	list-style-type: none;
	display: block;
}
li {
	display: list-item;
	text-align: center; 
	float: left;
}